* {
  padding:0;
  margin:0;
}

body {
  background:#fff;
  overflow-x:hidden;
  font-family:arial;
}

.content img	{
	display: inline;
	width: 10%;
	height: 10%;
}

.row {
	height: 10%;
	position: relative;
}
#elmLogo {
	width: 70%;
	height: 70%;
	z-index: 0;
}
#nav-item-container h2 {
	width: auto;
}
.langLogo img {
	position: relative;
	display: inline;
}
.langLogo {
	position: relative;
	float: right;
}

#cta {
  outline:none;
  border:none;
  text-decoration:none;
  text-transform:uppercase;
  background:#202020;
  color:#eaeaea;
  box-sizing:border-box;
  margin-top:20px;
  padding:10px 40px;
}

#cta_wipe {
  outline:none;
  border:none;
  text-decoration:none;
  text-transform:uppercase;
  background:#202020;
  color:#eaeaea;
  box-sizing:border-box;
  margin-top:20px;
  padding:10px 40px;
}


.cta_p {
  outline:none;
  border:none;
  text-decoration:none;
  text-transform:uppercase;
  background:#202020;
  color:#eaeaea;
  font-size: small;
  box-sizing:border-box;
  margin-top:10px;
  padding:10px 40px;
}

#cta_previews_api	{
	opacity: 0;
}

#cta_previews_pern	{
	opacity: 0;
}

#cta_previews_fp	{
	opacity: 0;
}

#cta_previews_monster	{
	opacity: 0;
}

#cta_previews_scramble	{
	opacity: 0;
}

#cta_previews_trivia	{
	opacity: 0;
}

#cta_previews_quick	{
	opacity: 0;
}

#cta_previews_sarpy	{
	opacity: 0;
}

#sitePreviewAPI {
	height: 200px;
	width: 300px;
	opacity: 0;
}

#sitePreviewPERN {
	height: 200px;
	width: 300px;
	opacity: 0;
}

#sitePreviewFP {
	height: 200px;
	width: 300px;
	opacity: 0;
}

#sitePreviewTrivia {
	height: 200px;
	width: 300px;
	opacity: 0;
}

#sitePreviewMonster {
	height: 200px;
	width: 300px;
	opacity: 0;
}

#sitePreviewQuick {
	height: 200px;
	width: 300px;
	opacity: 0;
}

#sitePreviewSarpy {
	height: 200px;
	width: 300px;
	opacity: 0;
}

#fwHeader1 {
	opacity: 0;
}

#fwHeader2 {
	opacity: 0;
}

#fwHeader3 {
	opacity: 0;
}

#fwImg1 {
	opacity: 0;
}

#fwImg2 {
	opacity: 0;
}

#fwImg3 {
	opacity: 0;
}

#sitePreview {
	margin: 10%;
}

#sitePreview img {
	border-radius: 10px;
}

#sitePreviewDesc {
	margin: 10%;
}

.is-hidden {
  display: none;
}

.fade-in {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
	animation-fill-mode: forwards;  
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.fade-out {
  animation: fadeOut 3s;
  -webkit-animation: fadeOut 3s;
  -moz-animation: fadeOut 3s;
  -o-animation: fadeOut 3s;
  -ms-animation: fadeOut 3s;
	animation-fill-mode: forwards;  
}
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-moz-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-o-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-ms-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}
