{% extends "base.html" %}

{% block content %}
<h1 class="title">
  writings & projects.
</h1>

<div class="writings">
  <h2 class="header">writings.</h2>
  <p><a href="{{ get_url(path='@/blog/_index.md') }}">nlp runs</a></p>
  <p><a href="{{ get_url(path='@/llms/_index.md') }}">llms</a></p>
  <p><a href="{{ get_url(path='@/trec/_index.md') }}">nlp/trec dataset runs</a></p>
  <p><a href="{{ get_url(path='@/topic_modeling/_index.md') }}">topic modeling</a></p>
  <p><a href="{{ get_url(path='@/elixir/_index.md') }}">elixir/erlang articles</a></p>
  <p><a href="{{ get_url(path='@/htmx/_index.md') }}">htmx articles</a></p>
</div>

<div class="projects">
  <h2 class="header">projects.</h2>
  <ul class="projects_ul">
    <li>
      <details>
        <summary>elixir</summary>
          <ul class="cat_ul">
            <li>
              <h2>trivia</h2>
              <a href="https://surface-trivia-app.onrender.com" target="_blank"><img src="/me/images/projects/surface_trivia.png" /></a>
              <p>trivia game implemented in phoenix liveview with surface ui library. surface uses a component model that is a little more react-like than typical liveview template syntax.</p>
            </li>
            <li>
              <h2>quick ui</h2>
              <a href="https://elastic-lamport-5e120f.netlify.app/" target="_blank"><img src="/me/images/projects/quick_ui.png" /></a>
              <p>a simple ui for any group or organization. Sub in any remote or local data to display by details and sort via tags. created with vue.js.</p>
            </li>
          </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>rust</summary>
          <ul class="cat_ul">
            <li>
              <h2>rust wasm</h2>
              <a href="https://r4z4.github.io/axum_yew/" target="_blank"><img src="/me/images/projects/rust_wasm.png" /></a>
              <p>just a little test run simple login and mini crud app to try out rust + wasm (axum + yew).</p>
            </li>
            <li>
              <h2>giraffe game</h2>
              <a href="https://r4z4-url.shuttleapp.rs/" target="_blank"><img src="/me/images/projects/giraffe_game.png" /></a>
              <p>giraffe game made with elm but the static file server itself made with rust. had to try out shuttle.rs ... its not that great."</p>
            </li>
          </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>elm</summary>
          <ul class="cat_ul">
            <li>
              <h2>elm monster game</h2>
              <a href="https://objective-keller-8aec52.netlify.app/" target="_blank"><img src="/me/images/projects/monster_game.png" /></a>
              <p>a more appropriate version of the hangman game written in elm. it really is a delightful front end language.</p>
            </li>
            <li>
              <h2>test your typing</h2>
              <a href="https://epic-easley-ff5cfd.netlify.app/" target="_blank"><img src="/me/images/projects/scramble.png" /></a>
              <p>a typing exercise/brain teaser written in elm. working on getting a better api.</p>
            </li>
            <li>
              <h2>elm memory game</h2>
              <a href="https://harmonious-eclair-d432c3.netlify.app/" target="_blank"><img src="/me/images/projects/memory_game.png" /></a>
              <p>the classic memory game with cards for various categories. made with elm 0.19.</p>
            </li>
          </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>python</summary>
          <ul class="cat_ul">
            <li>
              <h2>crime predictor</h2>
              <a href="https://r4z4.pythonanywhere.com/" target="_blank"><img src="/me/images/projects/crime.png" /></a>
              <p>crime predictor service for greater chicago. runs predictions on a regression model trained from city of chicago crime statistics. served up using flask frontend. model trained using tensorflow.</p>
            </li>
          </ul>
      </details>
    </li>
    <li>
      <details>
        <summary>react/vue</summary>
          <ul class="cat_ul">
            <li>
              <h2>city api</h2>
              <a href="https://city-explorer.vercel.app/" target="_blank"><img src="/me/images/projects/city_api.png" /></a>
              <p>a simple city explorer app to fetch weather data and forecasts and Teleport city info for urban areas. utilizes two RESTful API services and served up via react on the frontend. **NOTE: Troposphere has ended their api services - using a temp API until I can find a better one. open to suggestions :) ****</p>
            </li>
            <li>
              <h2>front page</h2>
              <a href="https://front-page-sigma.vercel.app/" target="_blank"><img src="/me/images/projects/front_page.png" /></a>
              <p>newspaper front page generator app. spa done with react. its pretty bad but its one of my first react projects, and in general a concept that i like and keep telling myself i will return to. so it stays! still looking for the batman spinning newspaper headline audio clip too.</p>
            </li>
            <li>
              <h2>extrev pern</h2>
              <a href="https://pern-extrev.herokuapp.com/" target="_blank"><img src="/me/images/projects/extrev_pern.png" /></a>
              <p>a pern stack app mimicking commercial approaches to case management, in this case healthcare appeals. PostgreSQL for database, node & express as backend and served via react. app enables authorization via a third party service, keycloak, although currently disabled to allow unauthorized access.</p>
            </li>
            <li>
              <h2>sarpy stats</h2>
              <a href="https://sarpy-county.vercel.app/" target="_blank"><img src="/me/images/projects/sarpy.png" /></a>
              <p>a simple data visualization project for a local housing authority agency. created with recharts library using housing data provided by the agency.</p>
            </li>
          </ul>
      </details>
    </li>
  </ul>
</div>
{% endblock content %}